HL7 Keys/ACK_2.7.1.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="ACK">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MSH" type="MSH"/>
                <xsd:element name="SFT" type="SFT" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="UAC" type="UAC" minOccurs="0"/>
                <xsd:element name="MSA" type="MSA"/>
                <xsd:element name="ERR" type="ERR" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="ERR">
        <xsd:sequence>
            <xsd:element name="ERR.1" type="ST" minOccurs="0"/>
            <xsd:element name="ERR.2" type="ERL" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="ERR.3" type="CWE"/>
            <xsd:element name="ERR.4" type="ID"/>
            <xsd:element name="ERR.5" type="CWE" minOccurs="0"/>
            <xsd:element name="ERR.6" type="ST" minOccurs="0" maxOccurs="10"/>
            <xsd:element name="ERR.7" type="TX" minOccurs="0"/>
            <xsd:element name="ERR.8" type="TX" minOccurs="0"/>
            <xsd:element name="ERR.9" type="CWE" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="ERR.10" type="CWE" minOccurs="0"/>
            <xsd:element name="ERR.11" type="CWE" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="ERR.12" type="XTN" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MSA">
        <xsd:sequence>
            <xsd:element name="MSA.1" type="ID"/>
            <xsd:element name="MSA.2" type="ST"/>
            <xsd:element name="MSA.3" type="ST" minOccurs="0"/>
            <xsd:element name="MSA.4" type="NM" minOccurs="0"/>
            <xsd:element name="MSA.5" type="ST" minOccurs="0"/>
            <xsd:element name="MSA.6" type="ST" minOccurs="0"/>
            <xsd:element name="MSA.7" type="NM" minOccurs="0"/>
            <xsd:element name="MSA.8" type="ID" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MSH">
        <xsd:sequence>
            <xsd:element name="MSH.1" type="ST"/>
            <xsd:element name="MSH.2" type="ST"/>
            <xsd:element name="MSH.3" type="HD" minOccurs="0"/>
            <xsd:element name="MSH.4" type="HD" minOccurs="0"/>
            <xsd:element name="MSH.5" type="HD" minOccurs="0"/>
            <xsd:element name="MSH.6" type="HD" minOccurs="0"/>
            <xsd:element name="MSH.7" type="DTM"/>
            <xsd:element name="MSH.8" type="ST" minOccurs="0"/>
            <xsd:element name="MSH.9" type="MSG"/>
            <xsd:element name="MSH.10" type="ST"/>
            <xsd:element name="MSH.11" type="PT"/>
            <xsd:element name="MSH.12" type="VID"/>
            <xsd:element name="MSH.13" type="NM" minOccurs="0"/>
            <xsd:element name="MSH.14" type="ST" minOccurs="0"/>
            <xsd:element name="MSH.15" type="ID" minOccurs="0"/>
            <xsd:element name="MSH.16" type="ID" minOccurs="0"/>
            <xsd:element name="MSH.17" type="ID" minOccurs="0"/>
            <xsd:element name="MSH.18" type="ID" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="MSH.19" type="CWE" minOccurs="0"/>
            <xsd:element name="MSH.20" type="ID" minOccurs="0"/>
            <xsd:element name="MSH.21" type="EI" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="MSH.22" type="XON" minOccurs="0"/>
            <xsd:element name="MSH.23" type="XON" minOccurs="0"/>
            <xsd:element name="MSH.24" type="HD" minOccurs="0"/>
            <xsd:element name="MSH.25" type="HD" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SFT">
        <xsd:sequence>
            <xsd:element name="SFT.1" type="XON"/>
            <xsd:element name="SFT.2" type="ST"/>
            <xsd:element name="SFT.3" type="ST"/>
            <xsd:element name="SFT.4" type="ST"/>
            <xsd:element name="SFT.5" type="TX" minOccurs="0"/>
            <xsd:element name="SFT.6" type="DTM" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="UAC">
        <xsd:sequence>
            <xsd:element name="UAC.1" type="CWE"/>
            <xsd:element name="UAC.2" type="ED"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CWE">
        <xsd:sequence>
            <xsd:element name="CWE.1" type="ST" minOccurs="0"/>
            <xsd:element name="CWE.2" type="ST" minOccurs="0"/>
            <xsd:element name="CWE.3" type="ID" minOccurs="0"/>
            <xsd:element name="CWE.4" type="ST" minOccurs="0"/>
            <xsd:element name="CWE.5" type="ST" minOccurs="0"/>
            <xsd:element name="CWE.6" type="ID" minOccurs="0"/>
            <xsd:element name="CWE.7" type="ST" minOccurs="0"/>
            <xsd:element name="CWE.8" type="ST" minOccurs="0"/>
            <xsd:element name="CWE.9" type="ST" minOccurs="0"/>
            <xsd:element name="CWE.10" type="ST" minOccurs="0"/>
            <xsd:element name="CWE.11" type="ST" minOccurs="0"/>
            <xsd:element name="CWE.12" type="ID" minOccurs="0"/>
            <xsd:element name="CWE.13" type="ST" minOccurs="0"/>
            <xsd:element name="CWE.14" type="ST" minOccurs="0"/>
            <xsd:element name="CWE.15" type="ST" minOccurs="0"/>
            <xsd:element name="CWE.16" type="DTM" minOccurs="0"/>
            <xsd:element name="CWE.17" type="ST" minOccurs="0"/>
            <xsd:element name="CWE.18" type="ST" minOccurs="0"/>
            <xsd:element name="CWE.19" type="DTM" minOccurs="0"/>
            <xsd:element name="CWE.20" type="ST" minOccurs="0"/>
            <xsd:element name="CWE.21" type="ST" minOccurs="0"/>
            <xsd:element name="CWE.22" type="DTM" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="DTM">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="ED">
        <xsd:sequence>
            <xsd:element name="ED.1" type="HD" minOccurs="0"/>
            <xsd:element name="ED.2" type="ID"/>
            <xsd:element name="ED.3" type="ID" minOccurs="0"/>
            <xsd:element name="ED.4" type="ID"/>
            <xsd:element name="ED.5" type="TX"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EI">
        <xsd:sequence>
            <xsd:element name="EI.1" type="ST" minOccurs="0"/>
            <xsd:element name="EI.2" type="IS" minOccurs="0"/>
            <xsd:element name="EI.3" type="ST" minOccurs="0"/>
            <xsd:element name="EI.4" type="ID" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ERL">
        <xsd:sequence>
            <xsd:element name="ERL.1" type="ST"/>
            <xsd:element name="ERL.2" type="NM"/>
            <xsd:element name="ERL.3" type="NM" minOccurs="0"/>
            <xsd:element name="ERL.4" type="NM" minOccurs="0"/>
            <xsd:element name="ERL.5" type="NM" minOccurs="0"/>
            <xsd:element name="ERL.6" type="NM" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="HD">
        <xsd:sequence>
            <xsd:element name="HD.1" type="IS" minOccurs="0"/>
            <xsd:element name="HD.2" type="ST" minOccurs="0"/>
            <xsd:element name="HD.3" type="ID" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="ID">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="IS">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="MSG">
        <xsd:sequence>
            <xsd:element name="MSG.1" type="ID"/>
            <xsd:element name="MSG.2" type="ID"/>
            <xsd:element name="MSG.3" type="ID"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="NM">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="PT">
        <xsd:sequence>
            <xsd:element name="PT.1" type="ID"/>
            <xsd:element name="PT.2" type="ID" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="ST">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="TX">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="VID">
        <xsd:sequence>
            <xsd:element name="VID.1" type="ID"/>
            <xsd:element name="VID.2" type="CWE" minOccurs="0"/>
            <xsd:element name="VID.3" type="CWE" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="XON">
        <xsd:sequence>
            <xsd:element name="XON.1" type="ST" minOccurs="0"/>
            <xsd:element name="XON.2" type="CWE" minOccurs="0"/>
            <xsd:element name="XON.3" type="ST" minOccurs="0"/>
            <xsd:element name="XON.4" type="NM" minOccurs="0"/>
            <xsd:element name="XON.5" type="ID" minOccurs="0"/>
            <xsd:element name="XON.6" type="HD" minOccurs="0"/>
            <xsd:element name="XON.7" type="ID" minOccurs="0"/>
            <xsd:element name="XON.8" type="HD" minOccurs="0"/>
            <xsd:element name="XON.9" type="ID" minOccurs="0"/>
            <xsd:element name="XON.10" type="ST" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="XTN">
        <xsd:sequence>
            <xsd:element name="XTN.1" type="ST" minOccurs="0"/>
            <xsd:element name="XTN.2" type="ID" minOccurs="0"/>
            <xsd:element name="XTN.3" type="ID"/>
            <xsd:element name="XTN.4" type="ST" minOccurs="0"/>
            <xsd:element name="XTN.5" type="ST" minOccurs="0"/>
            <xsd:element name="XTN.6" type="ST" minOccurs="0"/>
            <xsd:element name="XTN.7" type="ST" minOccurs="0"/>
            <xsd:element name="XTN.8" type="ST" minOccurs="0"/>
            <xsd:element name="XTN.9" type="ST" minOccurs="0"/>
            <xsd:element name="XTN.10" type="ST" minOccurs="0"/>
            <xsd:element name="XTN.11" type="ST" minOccurs="0"/>
            <xsd:element name="XTN.12" type="ST" minOccurs="0"/>
            <xsd:element name="XTN.13" type="DTM" minOccurs="0"/>
            <xsd:element name="XTN.14" type="DTM" minOccurs="0"/>
            <xsd:element name="XTN.15" type="CWE" minOccurs="0"/>
            <xsd:element name="XTN.16" type="CWE" minOccurs="0"/>
            <xsd:element name="XTN.17" type="EI" minOccurs="0"/>
            <xsd:element name="XTN.18" type="NM" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
