HL7 Keys/OMP_O09_2.7.1.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="OMP_O09">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="MSH" type="MSH"/>
                <xsd:element name="SFT" type="SFT" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="UAC" type="UAC" minOccurs="0"/>
                <xsd:element name="NTE" type="NTE" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="OMP_O09.PATIENT" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="PID" type="PID"/>
                            <xsd:element name="OMP_O09.ADDITIONAL_DEMOGRAPHICS" minOccurs="0">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="PD1" type="PD1"/>
                                        <xsd:element name="PRT" type="PRT" minOccurs="0" maxOccurs="unbounded"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="NTE" type="NTE" minOccurs="0" maxOccurs="unbounded"/>
                            <xsd:element name="OMP_O09.PATIENT_VISIT" minOccurs="0">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="PV1" type="PV1"/>
                                        <xsd:element name="PV2" type="PV2" minOccurs="0"/>
                                        <xsd:element name="PRT" type="PRT" minOccurs="0" maxOccurs="unbounded"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="OMP_O09.INSURANCE" minOccurs="0" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="IN1" type="IN1"/>
                                        <xsd:element name="IN2" type="IN2" minOccurs="0"/>
                                        <xsd:element name="IN3" type="IN3" minOccurs="0"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="GT1" type="GT1" minOccurs="0"/>
                            <xsd:element name="AL1" type="AL1" minOccurs="0" maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="OMP_O09.ORDER" maxOccurs="unbounded">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="ORC" type="ORC"/>
                            <xsd:element name="OMP_O09.TIMING" minOccurs="0" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="TQ1" type="TQ1"/>
                                        <xsd:element name="TQ2" type="TQ2" minOccurs="0" maxOccurs="unbounded"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="RXO" type="RXO"/>
                            <xsd:element name="PRT" type="PRT" minOccurs="0" maxOccurs="unbounded"/>
                            <xsd:element name="NTE" type="NTE" minOccurs="0" maxOccurs="unbounded"/>
                            <xsd:element name="RXR" type="RXR" maxOccurs="unbounded"/>
                            <xsd:element name="OMP_O09.COMPONENT" minOccurs="0" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="RXC" type="RXC"/>
                                        <xsd:element name="NTE" type="NTE" minOccurs="0" maxOccurs="unbounded"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="OMP_O09.OBSERVATION" minOccurs="0" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="OBX" type="OBX"/>
                                        <xsd:element name="PRT" type="PRT" minOccurs="0" maxOccurs="unbounded"/>
                                        <xsd:element name="NTE" type="NTE" minOccurs="0" maxOccurs="unbounded"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="FT1" type="FT1" minOccurs="0" maxOccurs="unbounded"/>
                            <xsd:element name="BLG" type="BLG" minOccurs="0"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="AL1">
        <xsd:sequence>
            <xsd:element name="AL1.1" type="SI"/>
            <xsd:element name="AL1.2" type="CWE" minOccurs="0"/>
            <xsd:element name="AL1.3" type="CWE"/>
            <xsd:element name="AL1.4" type="CWE" minOccurs="0"/>
            <xsd:element name="AL1.5" type="ST" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="AL1.6" type="ST" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BLG">
        <xsd:sequence>
            <xsd:element name="BLG.1" type="CCD" minOccurs="0"/>
            <xsd:element name="BLG.2" type="ID" minOccurs="0"/>
            <xsd:element name="BLG.3" type="CX" minOccurs="0"/>
            <xsd:element name="BLG.4" type="CWE" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FT1">
        <xsd:sequence>
            <xsd:element name="FT1.1" type="SI" minOccurs="0"/>
            <xsd:element name="FT1.2" type="ST" minOccurs="0"/>
            <xsd:element name="FT1.3" type="ST" minOccurs="0"/>
            <xsd:element name="FT1.4" type="DR"/>
            <xsd:element name="FT1.5" type="DTM" minOccurs="0"/>
            <xsd:element name="FT1.6" type="CWE"/>
            <xsd:element name="FT1.7" type="CWE"/>
            <xsd:element name="FT1.8" type="ST" minOccurs="0"/>
            <xsd:element name="FT1.9" type="ST" minOccurs="0"/>
            <xsd:element name="FT1.10" type="NM" minOccurs="0"/>
            <xsd:element name="FT1.11" type="CP" minOccurs="0"/>
            <xsd:element name="FT1.12" type="CP" minOccurs="0"/>
            <xsd:element name="FT1.13" type="CWE" minOccurs="0"/>
            <xsd:element name="FT1.14" type="CWE" minOccurs="0"/>
            <xsd:element name="FT1.15" type="CP" minOccurs="0"/>
            <xsd:element name="FT1.16" type="PL" minOccurs="0"/>
            <xsd:element name="FT1.17" type="CWE" minOccurs="0"/>
            <xsd:element name="FT1.18" type="CWE" minOccurs="0"/>
            <xsd:element name="FT1.19" type="CWE" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="FT1.20" type="XCN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="FT1.21" type="XCN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="FT1.22" type="CP" minOccurs="0"/>
            <xsd:element name="FT1.23" type="EI" minOccurs="0"/>
            <xsd:element name="FT1.24" type="XCN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="FT1.25" type="CNE" minOccurs="0"/>
            <xsd:element name="FT1.26" type="CNE" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="FT1.27" type="CWE" minOccurs="0"/>
            <xsd:element name="FT1.28" type="CWE" minOccurs="0"/>
            <xsd:element name="FT1.29" type="CWE" minOccurs="0"/>
            <xsd:element name="FT1.30" type="CX" minOccurs="0"/>
            <xsd:element name="FT1.31" type="SI" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="FT1.32" type="XON" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="FT1.33" type="XON" minOccurs="0"/>
            <xsd:element name="FT1.34" type="CWE" minOccurs="0"/>
            <xsd:element name="FT1.35" type="ST" minOccurs="0"/>
            <xsd:element name="FT1.36" type="CWE" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="FT1.37" type="CWE" minOccurs="0"/>
            <xsd:element name="FT1.38" type="CX" minOccurs="0"/>
            <xsd:element name="FT1.39" type="CX" minOccurs="0"/>
            <xsd:element name="FT1.40" type="CWE" minOccurs="0"/>
            <xsd:element name="FT1.41" type="CWE" minOccurs="0"/>
            <xsd:element name="FT1.42" type="ST" minOccurs="0"/>
            <xsd:element name="FT1.43" type="CQ" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GT1">
        <xsd:sequence>
            <xsd:element name="GT1.1" type="SI"/>
            <xsd:element name="GT1.2" type="CX" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="GT1.3" type="XPN" maxOccurs="unbounded"/>
            <xsd:element name="GT1.4" type="XPN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="GT1.5" type="XAD" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="GT1.6" type="XTN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="GT1.7" type="XTN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="GT1.8" type="DTM" minOccurs="0"/>
            <xsd:element name="GT1.9" type="CWE" minOccurs="0"/>
            <xsd:element name="GT1.10" type="CWE" minOccurs="0"/>
            <xsd:element name="GT1.11" type="CWE" minOccurs="0"/>
            <xsd:element name="GT1.12" type="ST" minOccurs="0"/>
            <xsd:element name="GT1.13" type="DT" minOccurs="0"/>
            <xsd:element name="GT1.14" type="DT" minOccurs="0"/>
            <xsd:element name="GT1.15" type="NM" minOccurs="0"/>
            <xsd:element name="GT1.16" type="XPN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="GT1.17" type="XAD" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="GT1.18" type="XTN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="GT1.19" type="CX" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="GT1.20" type="CWE" minOccurs="0"/>
            <xsd:element name="GT1.21" type="XON" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="GT1.22" type="ID" minOccurs="0"/>
            <xsd:element name="GT1.23" type="CWE" minOccurs="0"/>
            <xsd:element name="GT1.24" type="DTM" minOccurs="0"/>
            <xsd:element name="GT1.25" type="ID" minOccurs="0"/>
            <xsd:element name="GT1.26" type="CWE" minOccurs="0"/>
            <xsd:element name="GT1.27" type="CP" minOccurs="0"/>
            <xsd:element name="GT1.28" type="NM" minOccurs="0"/>
            <xsd:element name="GT1.29" type="CX" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="GT1.30" type="CWE" minOccurs="0"/>
            <xsd:element name="GT1.31" type="DT" minOccurs="0"/>
            <xsd:element name="GT1.32" type="DT" minOccurs="0"/>
            <xsd:element name="GT1.33" type="CWE" minOccurs="0"/>
            <xsd:element name="GT1.34" type="CWE" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="GT1.35" type="CWE" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="GT1.36" type="CWE" minOccurs="0"/>
            <xsd:element name="GT1.37" type="CWE" minOccurs="0"/>
            <xsd:element name="GT1.38" type="CWE" minOccurs="0"/>
            <xsd:element name="GT1.39" type="ID" minOccurs="0"/>
            <xsd:element name="GT1.40" type="CWE" minOccurs="0"/>
            <xsd:element name="GT1.41" type="CWE" minOccurs="0"/>
            <xsd:element name="GT1.42" type="XPN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="GT1.43" type="CWE" minOccurs="0"/>
            <xsd:element name="GT1.44" type="CWE" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="GT1.45" type="XPN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="GT1.46" type="XTN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="GT1.47" type="CWE" minOccurs="0"/>
            <xsd:element name="GT1.48" type="CWE" minOccurs="0"/>
            <xsd:element name="GT1.49" type="ST" minOccurs="0"/>
            <xsd:element name="GT1.50" type="JCC" minOccurs="0"/>
            <xsd:element name="GT1.51" type="XON" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="GT1.52" type="CWE" minOccurs="0"/>
            <xsd:element name="GT1.53" type="CWE" minOccurs="0"/>
            <xsd:element name="GT1.54" type="FC" minOccurs="0"/>
            <xsd:element name="GT1.55" type="CWE" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="GT1.56" type="ST" minOccurs="0"/>
            <xsd:element name="GT1.57" type="CWE" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="IN1">
        <xsd:sequence>
            <xsd:element name="IN1.1" type="SI"/>
            <xsd:element name="IN1.2" type="CWE"/>
            <xsd:element name="IN1.3" type="CX" maxOccurs="unbounded"/>
            <xsd:element name="IN1.4" type="XON" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="IN1.5" type="XAD" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="IN1.6" type="XPN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="IN1.7" type="XTN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="IN1.8" type="ST" minOccurs="0"/>
            <xsd:element name="IN1.9" type="XON" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="IN1.10" type="CX" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="IN1.11" type="XON" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="IN1.12" type="DT" minOccurs="0"/>
            <xsd:element name="IN1.13" type="DT" minOccurs="0"/>
            <xsd:element name="IN1.14" type="AUI" minOccurs="0"/>
            <xsd:element name="IN1.15" type="CWE" minOccurs="0"/>
            <xsd:element name="IN1.16" type="XPN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="IN1.17" type="CWE" minOccurs="0"/>
            <xsd:element name="IN1.18" type="DTM" minOccurs="0"/>
            <xsd:element name="IN1.19" type="XAD" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="IN1.20" type="CWE" minOccurs="0"/>
            <xsd:element name="IN1.21" type="CWE" minOccurs="0"/>
            <xsd:element name="IN1.22" type="ST" minOccurs="0"/>
            <xsd:element name="IN1.23" type="ID" minOccurs="0"/>
            <xsd:element name="IN1.24" type="DT" minOccurs="0"/>
            <xsd:element name="IN1.25" type="ID" minOccurs="0"/>
            <xsd:element name="IN1.26" type="DT" minOccurs="0"/>
            <xsd:element name="IN1.27" type="CWE" minOccurs="0"/>
            <xsd:element name="IN1.28" type="ST" minOccurs="0"/>
            <xsd:element name="IN1.29" type="DTM" minOccurs="0"/>
            <xsd:element name="IN1.30" type="XCN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="IN1.31" type="CWE" minOccurs="0"/>
            <xsd:element name="IN1.32" type="CWE" minOccurs="0"/>
            <xsd:element name="IN1.33" type="NM" minOccurs="0"/>
            <xsd:element name="IN1.34" type="NM" minOccurs="0"/>
            <xsd:element name="IN1.35" type="CWE" minOccurs="0"/>
            <xsd:element name="IN1.36" type="ST" minOccurs="0"/>
            <xsd:element name="IN1.37" type="CP" minOccurs="0"/>
            <xsd:element name="IN1.38" type="ST" minOccurs="0"/>
            <xsd:element name="IN1.39" type="NM" minOccurs="0"/>
            <xsd:element name="IN1.40" type="ST" minOccurs="0"/>
            <xsd:element name="IN1.41" type="ST" minOccurs="0"/>
            <xsd:element name="IN1.42" type="CWE" minOccurs="0"/>
            <xsd:element name="IN1.43" type="CWE" minOccurs="0"/>
            <xsd:element name="IN1.44" type="XAD" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="IN1.45" type="ST" minOccurs="0"/>
            <xsd:element name="IN1.46" type="CWE" minOccurs="0"/>
            <xsd:element name="IN1.47" type="CWE" minOccurs="0"/>
            <xsd:element name="IN1.48" type="CWE" minOccurs="0"/>
            <xsd:element name="IN1.49" type="CX" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="IN1.50" type="CWE" minOccurs="0"/>
            <xsd:element name="IN1.51" type="DT" minOccurs="0"/>
            <xsd:element name="IN1.52" type="ST" minOccurs="0"/>
            <xsd:element name="IN1.53" type="CWE" minOccurs="0"/>
            <xsd:element name="IN1.54" type="CX" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="IN2">
        <xsd:sequence>
            <xsd:element name="IN2.1" type="CX" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="IN2.2" type="ST" minOccurs="0"/>
            <xsd:element name="IN2.3" type="XCN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="IN2.4" type="CWE" minOccurs="0"/>
            <xsd:element name="IN2.5" type="CWE" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="IN2.6" type="ST" minOccurs="0"/>
            <xsd:element name="IN2.7" type="XPN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="IN2.8" type="ST" minOccurs="0"/>
            <xsd:element name="IN2.9" type="XPN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="IN2.10" type="ST" minOccurs="0"/>
            <xsd:element name="IN2.11" type="CWE" minOccurs="0"/>
            <xsd:element name="IN2.12" type="ST" minOccurs="0"/>
            <xsd:element name="IN2.13" type="ST" minOccurs="0"/>
            <xsd:element name="IN2.14" type="CWE" minOccurs="0"/>
            <xsd:element name="IN2.15" type="CWE" minOccurs="0"/>
            <xsd:element name="IN2.16" type="CWE" minOccurs="0"/>
            <xsd:element name="IN2.17" type="DT" minOccurs="0"/>
            <xsd:element name="IN2.18" type="ID" minOccurs="0"/>
            <xsd:element name="IN2.19" type="ID" minOccurs="0"/>
            <xsd:element name="IN2.20" type="ID" minOccurs="0"/>
            <xsd:element name="IN2.21" type="ST" minOccurs="0"/>
            <xsd:element name="IN2.22" type="XPN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="IN2.23" type="ST" minOccurs="0"/>
            <xsd:element name="IN2.24" type="CWE" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="IN2.25" type="CX" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="IN2.26" type="CX" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="IN2.27" type="CWE" minOccurs="0"/>
            <xsd:element name="IN2.28" type="RMC" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="IN2.29" type="PTA" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="IN2.30" type="DDI" minOccurs="0"/>
            <xsd:element name="IN2.31" type="CWE" minOccurs="0"/>
            <xsd:element name="IN2.32" type="CWE" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="IN2.33" type="CWE" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="IN2.34" type="CWE" minOccurs="0"/>
            <xsd:element name="IN2.35" type="CWE" minOccurs="0"/>
            <xsd:element name="IN2.36" type="CWE" minOccurs="0"/>
            <xsd:element name="IN2.37" type="ID" minOccurs="0"/>
            <xsd:element name="IN2.38" type="CWE" minOccurs="0"/>
            <xsd:element name="IN2.39" type="CWE" minOccurs="0"/>
            <xsd:element name="IN2.40" type="XPN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="IN2.41" type="CWE" minOccurs="0"/>
            <xsd:element name="IN2.42" type="CWE" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="IN2.43" type="CWE" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="IN2.44" type="DT" minOccurs="0"/>
            <xsd:element name="IN2.45" type="DT" minOccurs="0"/>
            <xsd:element name="IN2.46" type="ST" minOccurs="0"/>
            <xsd:element name="IN2.47" type="JCC" minOccurs="0"/>
            <xsd:element name="IN2.48" type="CWE" minOccurs="0"/>
            <xsd:element name="IN2.49" type="XPN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="IN2.50" type="XTN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="IN2.51" type="CWE" minOccurs="0"/>
            <xsd:element name="IN2.52" type="XPN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="IN2.53" type="XTN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="IN2.54" type="CWE" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="IN2.55" type="DT" minOccurs="0"/>
            <xsd:element name="IN2.56" type="DT" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="IN2.57" type="CWE" minOccurs="0"/>
            <xsd:element name="IN2.58" type="XTN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="IN2.59" type="CWE" minOccurs="0"/>
            <xsd:element name="IN2.60" type="CWE" minOccurs="0"/>
            <xsd:element name="IN2.61" type="CX" minOccurs="0"/>
            <xsd:element name="IN2.62" type="CWE" minOccurs="0"/>
            <xsd:element name="IN2.63" type="XTN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="IN2.64" type="XTN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="IN2.65" type="CWE" minOccurs="0"/>
            <xsd:element name="IN2.66" type="ID" minOccurs="0"/>
            <xsd:element name="IN2.67" type="ID" minOccurs="0"/>
            <xsd:element name="IN2.68" type="ID" minOccurs="0"/>
            <xsd:element name="IN2.69" type="XON" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="IN2.70" type="XON" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="IN2.71" type="CWE" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="IN2.72" type="CWE" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="IN3">
        <xsd:sequence>
            <xsd:element name="IN3.1" type="SI"/>
            <xsd:element name="IN3.2" type="CX" minOccurs="0"/>
            <xsd:element name="IN3.3" type="XCN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="IN3.4" type="ID" minOccurs="0"/>
            <xsd:element name="IN3.5" type="MOP" minOccurs="0"/>
            <xsd:element name="IN3.6" type="DTM" minOccurs="0"/>
            <xsd:element name="IN3.7" type="DTM" minOccurs="0"/>
            <xsd:element name="IN3.8" type="XCN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="IN3.9" type="DT" minOccurs="0"/>
            <xsd:element name="IN3.10" type="DT" minOccurs="0"/>
            <xsd:element name="IN3.11" type="DTN" minOccurs="0"/>
            <xsd:element name="IN3.12" type="CWE" minOccurs="0"/>
            <xsd:element name="IN3.13" type="DTM" minOccurs="0"/>
            <xsd:element name="IN3.14" type="XCN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="IN3.15" type="ST" minOccurs="0"/>
            <xsd:element name="IN3.16" type="XTN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="IN3.17" type="CWE" minOccurs="0"/>
            <xsd:element name="IN3.18" type="CWE" minOccurs="0"/>
            <xsd:element name="IN3.19" type="XTN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="IN3.20" type="ICD" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="IN3.21" type="ST" minOccurs="0"/>
            <xsd:element name="IN3.22" type="DT" minOccurs="0"/>
            <xsd:element name="IN3.23" type="CWE" minOccurs="0"/>
            <xsd:element name="IN3.24" type="CWE" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="IN3.25" type="XCN" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MSH">
        <xsd:sequence>
            <xsd:element name="MSH.1" type="ST"/>
            <xsd:element name="MSH.2" type="ST"/>
            <xsd:element name="MSH.3" type="HD" minOccurs="0"/>
            <xsd:element name="MSH.4" type="HD" minOccurs="0"/>
            <xsd:element name="MSH.5" type="HD" minOccurs="0"/>
            <xsd:element name="MSH.6" type="HD" minOccurs="0"/>
            <xsd:element name="MSH.7" type="DTM"/>
            <xsd:element name="MSH.8" type="ST" minOccurs="0"/>
            <xsd:element name="MSH.9" type="MSG"/>
            <xsd:element name="MSH.10" type="ST"/>
            <xsd:element name="MSH.11" type="PT"/>
            <xsd:element name="MSH.12" type="VID"/>
            <xsd:element name="MSH.13" type="NM" minOccurs="0"/>
            <xsd:element name="MSH.14" type="ST" minOccurs="0"/>
            <xsd:element name="MSH.15" type="ID" minOccurs="0"/>
            <xsd:element name="MSH.16" type="ID" minOccurs="0"/>
            <xsd:element name="MSH.17" type="ID" minOccurs="0"/>
            <xsd:element name="MSH.18" type="ID" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="MSH.19" type="CWE" minOccurs="0"/>
            <xsd:element name="MSH.20" type="ID" minOccurs="0"/>
            <xsd:element name="MSH.21" type="EI" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="MSH.22" type="XON" minOccurs="0"/>
            <xsd:element name="MSH.23" type="XON" minOccurs="0"/>
            <xsd:element name="MSH.24" type="HD" minOccurs="0"/>
            <xsd:element name="MSH.25" type="HD" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="NTE">
        <xsd:sequence>
            <xsd:element name="NTE.1" type="SI" minOccurs="0"/>
            <xsd:element name="NTE.2" type="ID" minOccurs="0"/>
            <xsd:element name="NTE.3" type="FT" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="NTE.4" type="CWE" minOccurs="0"/>
            <xsd:element name="NTE.5" type="XCN" minOccurs="0"/>
            <xsd:element name="NTE.6" type="DTM" minOccurs="0"/>
            <xsd:element name="NTE.7" type="DTM" minOccurs="0"/>
            <xsd:element name="NTE.8" type="DTM" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="OBX">
        <xsd:sequence>
            <xsd:element name="OBX.1" type="SI" minOccurs="0"/>
            <xsd:element name="OBX.2" type="ID" minOccurs="0"/>
            <xsd:element name="OBX.3" type="CWE"/>
            <xsd:element name="OBX.4" type="ST" minOccurs="0"/>
            <xsd:element name="OBX.5" type="ST" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="OBX.6" type="CWE" minOccurs="0"/>
            <xsd:element name="OBX.7" type="ST" minOccurs="0"/>
            <xsd:element name="OBX.8" type="CWE" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="OBX.9" type="NM" minOccurs="0"/>
            <xsd:element name="OBX.10" type="ID" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="OBX.11" type="ID"/>
            <xsd:element name="OBX.12" type="DTM" minOccurs="0"/>
            <xsd:element name="OBX.13" type="ST" minOccurs="0"/>
            <xsd:element name="OBX.14" type="DTM" minOccurs="0"/>
            <xsd:element name="OBX.15" type="CWE" minOccurs="0"/>
            <xsd:element name="OBX.16" type="XCN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="OBX.17" type="CWE" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="OBX.18" type="EI" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="OBX.19" type="DTM" minOccurs="0"/>
            <xsd:element name="OBX.20" type="CWE" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="OBX.21" type="EI" minOccurs="0"/>
            <xsd:element name="OBX.22" type="CNE" minOccurs="0"/>
            <xsd:element name="OBX.23" type="XON" minOccurs="0"/>
            <xsd:element name="OBX.24" type="XAD" minOccurs="0"/>
            <xsd:element name="OBX.25" type="XCN" minOccurs="0"/>
            <xsd:element name="OBX.26" type="ID" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ORC">
        <xsd:sequence>
            <xsd:element name="ORC.1" type="ID"/>
            <xsd:element name="ORC.2" type="EI" minOccurs="0"/>
            <xsd:element name="ORC.3" type="EI" minOccurs="0"/>
            <xsd:element name="ORC.4" type="EI" minOccurs="0"/>
            <xsd:element name="ORC.5" type="ID" minOccurs="0"/>
            <xsd:element name="ORC.6" type="ID" minOccurs="0"/>
            <xsd:element name="ORC.7" type="ST" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="ORC.8" type="EIP" minOccurs="0"/>
            <xsd:element name="ORC.9" type="DTM" minOccurs="0"/>
            <xsd:element name="ORC.10" type="XCN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="ORC.11" type="XCN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="ORC.12" type="XCN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="ORC.13" type="PL" minOccurs="0"/>
            <xsd:element name="ORC.14" type="XTN" minOccurs="0" maxOccurs="2"/>
            <xsd:element name="ORC.15" type="DTM" minOccurs="0"/>
            <xsd:element name="ORC.16" type="CWE" minOccurs="0"/>
            <xsd:element name="ORC.17" type="CWE" minOccurs="0"/>
            <xsd:element name="ORC.18" type="CWE" minOccurs="0"/>
            <xsd:element name="ORC.19" type="XCN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="ORC.20" type="CWE" minOccurs="0"/>
            <xsd:element name="ORC.21" type="XON" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="ORC.22" type="XAD" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="ORC.23" type="XTN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="ORC.24" type="XAD" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="ORC.25" type="CWE" minOccurs="0"/>
            <xsd:element name="ORC.26" type="CWE" minOccurs="0"/>
            <xsd:element name="ORC.27" type="DTM" minOccurs="0"/>
            <xsd:element name="ORC.28" type="CWE" minOccurs="0"/>
            <xsd:element name="ORC.29" type="CWE" minOccurs="0"/>
            <xsd:element name="ORC.30" type="CNE" minOccurs="0"/>
            <xsd:element name="ORC.31" type="CWE" minOccurs="0"/>
            <xsd:element name="ORC.32" type="DT" minOccurs="0"/>
            <xsd:element name="ORC.33" type="CX" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PD1">
        <xsd:sequence>
            <xsd:element name="PD1.1" type="CWE" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="PD1.2" type="CWE" minOccurs="0"/>
            <xsd:element name="PD1.3" type="XON" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="PD1.4" type="ST" minOccurs="0"/>
            <xsd:element name="PD1.5" type="CWE" minOccurs="0"/>
            <xsd:element name="PD1.6" type="CWE" minOccurs="0"/>
            <xsd:element name="PD1.7" type="CWE" minOccurs="0"/>
            <xsd:element name="PD1.8" type="CWE" minOccurs="0"/>
            <xsd:element name="PD1.9" type="ID" minOccurs="0"/>
            <xsd:element name="PD1.10" type="CX" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="PD1.11" type="CWE" minOccurs="0"/>
            <xsd:element name="PD1.12" type="ID" minOccurs="0"/>
            <xsd:element name="PD1.13" type="DT" minOccurs="0"/>
            <xsd:element name="PD1.14" type="XON" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="PD1.15" type="CWE" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="PD1.16" type="CWE" minOccurs="0"/>
            <xsd:element name="PD1.17" type="DT" minOccurs="0"/>
            <xsd:element name="PD1.18" type="DT" minOccurs="0"/>
            <xsd:element name="PD1.19" type="CWE" minOccurs="0"/>
            <xsd:element name="PD1.20" type="CWE" minOccurs="0"/>
            <xsd:element name="PD1.21" type="CWE" minOccurs="0"/>
            <xsd:element name="PD1.22" type="DT" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PID">
        <xsd:sequence>
            <xsd:element name="PID.1" type="SI" minOccurs="0"/>
            <xsd:element name="PID.2" type="ST" minOccurs="0"/>
            <xsd:element name="PID.3" type="CX" maxOccurs="unbounded"/>
            <xsd:element name="PID.4" type="ST" minOccurs="0"/>
            <xsd:element name="PID.5" type="XPN" maxOccurs="unbounded"/>
            <xsd:element name="PID.6" type="XPN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="PID.7" type="DTM" minOccurs="0"/>
            <xsd:element name="PID.8" type="CWE" minOccurs="0"/>
            <xsd:element name="PID.9" type="ST" minOccurs="0"/>
            <xsd:element name="PID.10" type="CWE" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="PID.11" type="XAD" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="PID.12" type="ST" minOccurs="0"/>
            <xsd:element name="PID.13" type="XTN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="PID.14" type="XTN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="PID.15" type="CWE" minOccurs="0"/>
            <xsd:element name="PID.16" type="CWE" minOccurs="0"/>
            <xsd:element name="PID.17" type="CWE" minOccurs="0"/>
            <xsd:element name="PID.18" type="CX" minOccurs="0"/>
            <xsd:element name="PID.19" type="ST" minOccurs="0"/>
            <xsd:element name="PID.20" type="ST" minOccurs="0"/>
            <xsd:element name="PID.21" type="CX" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="PID.22" type="CWE" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="PID.23" type="ST" minOccurs="0"/>
            <xsd:element name="PID.24" type="ID" minOccurs="0"/>
            <xsd:element name="PID.25" type="NM" minOccurs="0"/>
            <xsd:element name="PID.26" type="CWE" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="PID.27" type="CWE" minOccurs="0"/>
            <xsd:element name="PID.28" type="ST" minOccurs="0"/>
            <xsd:element name="PID.29" type="DTM" minOccurs="0"/>
            <xsd:element name="PID.30" type="ID" minOccurs="0"/>
            <xsd:element name="PID.31" type="ID" minOccurs="0"/>
            <xsd:element name="PID.32" type="CWE" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="PID.33" type="DTM" minOccurs="0"/>
            <xsd:element name="PID.34" type="HD" minOccurs="0"/>
            <xsd:element name="PID.35" type="CWE" minOccurs="0"/>
            <xsd:element name="PID.36" type="CWE" minOccurs="0"/>
            <xsd:element name="PID.37" type="ST" minOccurs="0"/>
            <xsd:element name="PID.38" type="CWE" minOccurs="0" maxOccurs="2"/>
            <xsd:element name="PID.39" type="CWE" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="PID.40" type="XTN" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PRT">
        <xsd:sequence>
            <xsd:element name="PRT.1" type="EI" minOccurs="0"/>
            <xsd:element name="PRT.2" type="ID"/>
            <xsd:element name="PRT.3" type="CWE" minOccurs="0"/>
            <xsd:element name="PRT.4" type="CWE"/>
            <xsd:element name="PRT.5" type="XCN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="PRT.6" type="CWE" minOccurs="0"/>
            <xsd:element name="PRT.7" type="CWE" minOccurs="0"/>
            <xsd:element name="PRT.8" type="XON" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="PRT.9" type="PL" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="PRT.10" type="EI" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="PRT.11" type="DTM" minOccurs="0"/>
            <xsd:element name="PRT.12" type="DTM" minOccurs="0"/>
            <xsd:element name="PRT.13" type="CWE" minOccurs="0"/>
            <xsd:element name="PRT.14" type="XAD" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="PRT.15" type="XTN" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PV1">
        <xsd:sequence>
            <xsd:element name="PV1.1" type="SI" minOccurs="0"/>
            <xsd:element name="PV1.2" type="CWE"/>
            <xsd:element name="PV1.3" type="PL" minOccurs="0"/>
            <xsd:element name="PV1.4" type="CWE" minOccurs="0"/>
            <xsd:element name="PV1.5" type="CX" minOccurs="0"/>
            <xsd:element name="PV1.6" type="PL" minOccurs="0"/>
            <xsd:element name="PV1.7" type="XCN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="PV1.8" type="XCN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="PV1.9" type="XCN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="PV1.10" type="CWE" minOccurs="0"/>
            <xsd:element name="PV1.11" type="PL" minOccurs="0"/>
            <xsd:element name="PV1.12" type="CWE" minOccurs="0"/>
            <xsd:element name="PV1.13" type="CWE" minOccurs="0"/>
            <xsd:element name="PV1.14" type="CWE" minOccurs="0"/>
            <xsd:element name="PV1.15" type="CWE" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="PV1.16" type="CWE" minOccurs="0"/>
            <xsd:element name="PV1.17" type="XCN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="PV1.18" type="CWE" minOccurs="0"/>
            <xsd:element name="PV1.19" type="CX" minOccurs="0"/>
            <xsd:element name="PV1.20" type="FC" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="PV1.21" type="CWE" minOccurs="0"/>
            <xsd:element name="PV1.22" type="CWE" minOccurs="0"/>
            <xsd:element name="PV1.23" type="CWE" minOccurs="0"/>
            <xsd:element name="PV1.24" type="CWE" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="PV1.25" type="DT" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="PV1.26" type="NM" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="PV1.27" type="NM" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="PV1.28" type="CWE" minOccurs="0"/>
            <xsd:element name="PV1.29" type="CWE" minOccurs="0"/>
            <xsd:element name="PV1.30" type="DT" minOccurs="0"/>
            <xsd:element name="PV1.31" type="CWE" minOccurs="0"/>
            <xsd:element name="PV1.32" type="NM" minOccurs="0"/>
            <xsd:element name="PV1.33" type="NM" minOccurs="0"/>
            <xsd:element name="PV1.34" type="CWE" minOccurs="0"/>
            <xsd:element name="PV1.35" type="DT" minOccurs="0"/>
            <xsd:element name="PV1.36" type="CWE" minOccurs="0"/>
            <xsd:element name="PV1.37" type="DLD" minOccurs="0"/>
            <xsd:element name="PV1.38" type="CWE" minOccurs="0"/>
            <xsd:element name="PV1.39" type="CWE" minOccurs="0"/>
            <xsd:element name="PV1.40" type="ST" minOccurs="0"/>
            <xsd:element name="PV1.41" type="CWE" minOccurs="0"/>
            <xsd:element name="PV1.42" type="PL" minOccurs="0"/>
            <xsd:element name="PV1.43" type="PL" minOccurs="0"/>
            <xsd:element name="PV1.44" type="DTM" minOccurs="0"/>
            <xsd:element name="PV1.45" type="DTM" minOccurs="0"/>
            <xsd:element name="PV1.46" type="NM" minOccurs="0"/>
            <xsd:element name="PV1.47" type="NM" minOccurs="0"/>
            <xsd:element name="PV1.48" type="NM" minOccurs="0"/>
            <xsd:element name="PV1.49" type="NM" minOccurs="0"/>
            <xsd:element name="PV1.50" type="CX" minOccurs="0"/>
            <xsd:element name="PV1.51" type="CWE" minOccurs="0"/>
            <xsd:element name="PV1.52" type="ST" minOccurs="0"/>
            <xsd:element name="PV1.53" type="ST" minOccurs="0"/>
            <xsd:element name="PV1.54" type="CX" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PV2">
        <xsd:sequence>
            <xsd:element name="PV2.1" type="PL" minOccurs="0"/>
            <xsd:element name="PV2.2" type="CWE" minOccurs="0"/>
            <xsd:element name="PV2.3" type="CWE" minOccurs="0"/>
            <xsd:element name="PV2.4" type="CWE" minOccurs="0"/>
            <xsd:element name="PV2.5" type="ST" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="PV2.6" type="ST" minOccurs="0"/>
            <xsd:element name="PV2.7" type="CWE" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="PV2.8" type="DTM" minOccurs="0"/>
            <xsd:element name="PV2.9" type="DTM" minOccurs="0"/>
            <xsd:element name="PV2.10" type="NM" minOccurs="0"/>
            <xsd:element name="PV2.11" type="NM" minOccurs="0"/>
            <xsd:element name="PV2.12" type="ST" minOccurs="0"/>
            <xsd:element name="PV2.13" type="XCN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="PV2.14" type="DT" minOccurs="0"/>
            <xsd:element name="PV2.15" type="ID" minOccurs="0"/>
            <xsd:element name="PV2.16" type="CWE" minOccurs="0"/>
            <xsd:element name="PV2.17" type="DT" minOccurs="0"/>
            <xsd:element name="PV2.18" type="CWE" minOccurs="0"/>
            <xsd:element name="PV2.19" type="ID" minOccurs="0"/>
            <xsd:element name="PV2.20" type="NM" minOccurs="0"/>
            <xsd:element name="PV2.21" type="CWE" minOccurs="0"/>
            <xsd:element name="PV2.22" type="ID" minOccurs="0"/>
            <xsd:element name="PV2.23" type="XON" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="PV2.24" type="CWE" minOccurs="0"/>
            <xsd:element name="PV2.25" type="CWE" minOccurs="0"/>
            <xsd:element name="PV2.26" type="DT" minOccurs="0"/>
            <xsd:element name="PV2.27" type="CWE" minOccurs="0"/>
            <xsd:element name="PV2.28" type="DT" minOccurs="0"/>
            <xsd:element name="PV2.29" type="DT" minOccurs="0"/>
            <xsd:element name="PV2.30" type="CWE" minOccurs="0"/>
            <xsd:element name="PV2.31" type="CWE" minOccurs="0"/>
            <xsd:element name="PV2.32" type="ID" minOccurs="0"/>
            <xsd:element name="PV2.33" type="DTM" minOccurs="0"/>
            <xsd:element name="PV2.34" type="ID" minOccurs="0"/>
            <xsd:element name="PV2.35" type="ID" minOccurs="0"/>
            <xsd:element name="PV2.36" type="ID" minOccurs="0"/>
            <xsd:element name="PV2.37" type="ID" minOccurs="0"/>
            <xsd:element name="PV2.38" type="CWE" minOccurs="0"/>
            <xsd:element name="PV2.39" type="CWE" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="PV2.40" type="CWE" minOccurs="0"/>
            <xsd:element name="PV2.41" type="CWE" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="PV2.42" type="CWE" minOccurs="0"/>
            <xsd:element name="PV2.43" type="CWE" minOccurs="0"/>
            <xsd:element name="PV2.44" type="CWE" minOccurs="0"/>
            <xsd:element name="PV2.45" type="CWE" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="PV2.46" type="DT" minOccurs="0"/>
            <xsd:element name="PV2.47" type="DTM" minOccurs="0"/>
            <xsd:element name="PV2.48" type="DTM" minOccurs="0"/>
            <xsd:element name="PV2.49" type="CWE" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="PV2.50" type="DT" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RXC">
        <xsd:sequence>
            <xsd:element name="RXC.1" type="ID"/>
            <xsd:element name="RXC.2" type="CWE"/>
            <xsd:element name="RXC.3" type="NM"/>
            <xsd:element name="RXC.4" type="CWE"/>
            <xsd:element name="RXC.5" type="NM" minOccurs="0"/>
            <xsd:element name="RXC.6" type="CWE" minOccurs="0"/>
            <xsd:element name="RXC.7" type="CWE" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="RXC.8" type="NM" minOccurs="0"/>
            <xsd:element name="RXC.9" type="CWE" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RXO">
        <xsd:sequence>
            <xsd:element name="RXO.1" type="CWE" minOccurs="0"/>
            <xsd:element name="RXO.2" type="NM" minOccurs="0"/>
            <xsd:element name="RXO.3" type="NM" minOccurs="0"/>
            <xsd:element name="RXO.4" type="CWE" minOccurs="0"/>
            <xsd:element name="RXO.5" type="CWE" minOccurs="0"/>
            <xsd:element name="RXO.6" type="CWE" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="RXO.7" type="CWE" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="RXO.8" type="LA1" minOccurs="0"/>
            <xsd:element name="RXO.9" type="ID" minOccurs="0"/>
            <xsd:element name="RXO.10" type="CWE" minOccurs="0"/>
            <xsd:element name="RXO.11" type="NM" minOccurs="0"/>
            <xsd:element name="RXO.12" type="CWE" minOccurs="0"/>
            <xsd:element name="RXO.13" type="NM" minOccurs="0"/>
            <xsd:element name="RXO.14" type="XCN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="RXO.15" type="XCN" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="RXO.16" type="ID" minOccurs="0"/>
            <xsd:element name="RXO.17" type="ST" minOccurs="0"/>
            <xsd:element name="RXO.18" type="NM" minOccurs="0"/>
            <xsd:element name="RXO.19" type="CWE" minOccurs="0"/>
            <xsd:element name="RXO.20" type="CWE" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="RXO.21" type="ST" minOccurs="0"/>
            <xsd:element name="RXO.22" type="CWE" minOccurs="0"/>
            <xsd:element name="RXO.23" type="CQ" minOccurs="0"/>
            <xsd:element name="RXO.24" type="CWE" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="RXO.25" type="NM" minOccurs="0"/>
            <xsd:element name="RXO.26" type="CWE" minOccurs="0"/>
            <xsd:element name="RXO.27" type="ID" minOccurs="0"/>
            <xsd:element name="RXO.28" type="NM" minOccurs="0"/>
            <xsd:element name="RXO.29" type="EI" minOccurs="0"/>
            <xsd:element name="RXO.30" type="EI" minOccurs="0"/>
            <xsd:element name="RXO.31" type="CNE" minOccurs="0"/>
            <xsd:element name="RXO.32" type="CWE" minOccurs="0"/>
            <xsd:element name="RXO.33" type="XAD" minOccurs="0"/>
            <xsd:element name="RXO.34" type="PL" minOccurs="0"/>
            <xsd:element name="RXO.35" type="XAD" minOccurs="0"/>
            <xsd:element name="RXO.36" type="XTN" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RXR">
        <xsd:sequence>
            <xsd:element name="RXR.1" type="CWE"/>
            <xsd:element name="RXR.2" type="CWE" minOccurs="0"/>
            <xsd:element name="RXR.3" type="CWE" minOccurs="0"/>
            <xsd:element name="RXR.4" type="CWE" minOccurs="0"/>
            <xsd:element name="RXR.5" type="CWE" minOccurs="0"/>
            <xsd:element name="RXR.6" type="CWE" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SFT">
        <xsd:sequence>
            <xsd:element name="SFT.1" type="XON"/>
            <xsd:element name="SFT.2" type="ST"/>
            <xsd:element name="SFT.3" type="ST"/>
            <xsd:element name="SFT.4" type="ST"/>
            <xsd:element name="SFT.5" type="TX" minOccurs="0"/>
            <xsd:element name="SFT.6" type="DTM" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TQ1">
        <xsd:sequence>
            <xsd:element name="TQ1.1" type="SI" minOccurs="0"/>
            <xsd:element name="TQ1.2" type="CQ" minOccurs="0"/>
            <xsd:element name="TQ1.3" type="RPT" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="TQ1.4" type="TM" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="TQ1.5" type="CQ" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="TQ1.6" type="CQ" minOccurs="0"/>
            <xsd:element name="TQ1.7" type="DTM" minOccurs="0"/>
            <xsd:element name="TQ1.8" type="DTM" minOccurs="0"/>
            <xsd:element name="TQ1.9" type="CWE" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="TQ1.10" type="TX" minOccurs="0"/>
            <xsd:element name="TQ1.11" type="TX" minOccurs="0"/>
            <xsd:element name="TQ1.12" type="ID" minOccurs="0"/>
            <xsd:element name="TQ1.13" type="CQ" minOccurs="0"/>
            <xsd:element name="TQ1.14" type="NM" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TQ2">
        <xsd:sequence>
            <xsd:element name="TQ2.1" type="SI" minOccurs="0"/>
            <xsd:element name="TQ2.2" type="ID" minOccurs="0"/>
            <xsd:element name="TQ2.3" type="EI" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="TQ2.4" type="EI" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="TQ2.5" type="EI" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="TQ2.6" type="ID" minOccurs="0"/>
            <xsd:element name="TQ2.7" type="ID" minOccurs="0"/>
            <xsd:element name="TQ2.8" type="CQ" minOccurs="0"/>
            <xsd:element name="TQ2.9" type="NM" minOccurs="0"/>
            <xsd:element name="TQ2.10" type="ID" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="UAC">
        <xsd:sequence>
            <xsd:element name="UAC.1" type="CWE"/>
            <xsd:element name="UAC.2" type="ED"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AD">
        <xsd:sequence>
            <xsd:element name="AD.1" type="ST" minOccurs="0"/>
            <xsd:element name="AD.2" type="ST" minOccurs="0"/>
            <xsd:element name="AD.3" type="ST" minOccurs="0"/>
            <xsd:element name="AD.4" type="ST" minOccurs="0"/>
            <xsd:element name="AD.5" type="ST" minOccurs="0"/>
            <xsd:element name="AD.6" type="ID" minOccurs="0"/>
            <xsd:element name="AD.7" type="ID" minOccurs="0"/>
            <xsd:element name="AD.8" type="ST" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AUI">
        <xsd:sequence>
            <xsd:element name="AUI.1" type="ST" minOccurs="0"/>
            <xsd:element name="AUI.2" type="DT" minOccurs="0"/>
            <xsd:element name="AUI.3" type="ST" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CCD">
        <xsd:sequence>
            <xsd:element name="CCD.1" type="ID"/>
            <xsd:element name="CCD.2" type="DTM" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CNE">
        <xsd:sequence>
            <xsd:element name="CNE.1" type="ST"/>
            <xsd:element name="CNE.2" type="ST" minOccurs="0"/>
            <xsd:element name="CNE.3" type="ID" minOccurs="0"/>
            <xsd:element name="CNE.4" type="ST" minOccurs="0"/>
            <xsd:element name="CNE.5" type="ST" minOccurs="0"/>
            <xsd:element name="CNE.6" type="ID" minOccurs="0"/>
            <xsd:element name="CNE.7" type="ST" minOccurs="0"/>
            <xsd:element name="CNE.8" type="ST" minOccurs="0"/>
            <xsd:element name="CNE.9" type="ST" minOccurs="0"/>
            <xsd:element name="CNE.10" type="ST" minOccurs="0"/>
            <xsd:element name="CNE.11" type="ST" minOccurs="0"/>
            <xsd:element name="CNE.12" type="ID" minOccurs="0"/>
            <xsd:element name="CNE.13" type="ST" minOccurs="0"/>
            <xsd:element name="CNE.14" type="ST" minOccurs="0"/>
            <xsd:element name="CNE.15" type="ST" minOccurs="0"/>
            <xsd:element name="CNE.16" type="DTM" minOccurs="0"/>
            <xsd:element name="CNE.17" type="ST" minOccurs="0"/>
            <xsd:element name="CNE.18" type="ST" minOccurs="0"/>
            <xsd:element name="CNE.19" type="DTM" minOccurs="0"/>
            <xsd:element name="CNE.20" type="ST" minOccurs="0"/>
            <xsd:element name="CNE.21" type="ST" minOccurs="0"/>
            <xsd:element name="CNE.22" type="DTM" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CP">
        <xsd:sequence>
            <xsd:element name="CP.1" type="MO"/>
            <xsd:element name="CP.2" type="ID" minOccurs="0"/>
            <xsd:element name="CP.3" type="NM" minOccurs="0"/>
            <xsd:element name="CP.4" type="NM" minOccurs="0"/>
            <xsd:element name="CP.5" type="CWE" minOccurs="0"/>
            <xsd:element name="CP.6" type="ID" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CQ">
        <xsd:sequence>
            <xsd:element name="CQ.1" type="NM" minOccurs="0"/>
            <xsd:element name="CQ.2" type="CWE" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CWE">
        <xsd:sequence>
            <xsd:element name="CWE.1" type="ST" minOccurs="0"/>
            <xsd:element name="CWE.2" type="ST" minOccurs="0"/>
            <xsd:element name="CWE.3" type="ID" minOccurs="0"/>
            <xsd:element name="CWE.4" type="ST" minOccurs="0"/>
            <xsd:element name="CWE.5" type="ST" minOccurs="0"/>
            <xsd:element name="CWE.6" type="ID" minOccurs="0"/>
            <xsd:element name="CWE.7" type="ST" minOccurs="0"/>
            <xsd:element name="CWE.8" type="ST" minOccurs="0"/>
            <xsd:element name="CWE.9" type="ST" minOccurs="0"/>
            <xsd:element name="CWE.10" type="ST" minOccurs="0"/>
            <xsd:element name="CWE.11" type="ST" minOccurs="0"/>
            <xsd:element name="CWE.12" type="ID" minOccurs="0"/>
            <xsd:element name="CWE.13" type="ST" minOccurs="0"/>
            <xsd:element name="CWE.14" type="ST" minOccurs="0"/>
            <xsd:element name="CWE.15" type="ST" minOccurs="0"/>
            <xsd:element name="CWE.16" type="DTM" minOccurs="0"/>
            <xsd:element name="CWE.17" type="ST" minOccurs="0"/>
            <xsd:element name="CWE.18" type="ST" minOccurs="0"/>
            <xsd:element name="CWE.19" type="DTM" minOccurs="0"/>
            <xsd:element name="CWE.20" type="ST" minOccurs="0"/>
            <xsd:element name="CWE.21" type="ST" minOccurs="0"/>
            <xsd:element name="CWE.22" type="DTM" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CX">
        <xsd:sequence>
            <xsd:element name="CX.1" type="ST"/>
            <xsd:element name="CX.2" type="ST" minOccurs="0"/>
            <xsd:element name="CX.3" type="ID" minOccurs="0"/>
            <xsd:element name="CX.4" type="HD" minOccurs="0"/>
            <xsd:element name="CX.5" type="ID"/>
            <xsd:element name="CX.6" type="HD" minOccurs="0"/>
            <xsd:element name="CX.7" type="DT" minOccurs="0"/>
            <xsd:element name="CX.8" type="DT" minOccurs="0"/>
            <xsd:element name="CX.9" type="CWE" minOccurs="0"/>
            <xsd:element name="CX.10" type="CWE" minOccurs="0"/>
            <xsd:element name="CX.11" type="ST" minOccurs="0"/>
            <xsd:element name="CX.12" type="ID" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DDI">
        <xsd:sequence>
            <xsd:element name="DDI.1" type="NM" minOccurs="0"/>
            <xsd:element name="DDI.2" type="MO"/>
            <xsd:element name="DDI.3" type="NM" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DLD">
        <xsd:sequence>
            <xsd:element name="DLD.1" type="CWE"/>
            <xsd:element name="DLD.2" type="DTM" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DR">
        <xsd:sequence>
            <xsd:element name="DR.1" type="DTM" minOccurs="0"/>
            <xsd:element name="DR.2" type="DTM" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="DT">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="DTM">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="DTN">
        <xsd:sequence>
            <xsd:element name="DTN.1" type="CWE"/>
            <xsd:element name="DTN.2" type="NM"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ED">
        <xsd:sequence>
            <xsd:element name="ED.1" type="HD" minOccurs="0"/>
            <xsd:element name="ED.2" type="ID"/>
            <xsd:element name="ED.3" type="ID" minOccurs="0"/>
            <xsd:element name="ED.4" type="ID"/>
            <xsd:element name="ED.5" type="TX"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EI">
        <xsd:sequence>
            <xsd:element name="EI.1" type="ST" minOccurs="0"/>
            <xsd:element name="EI.2" type="IS" minOccurs="0"/>
            <xsd:element name="EI.3" type="ST" minOccurs="0"/>
            <xsd:element name="EI.4" type="ID" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EIP">
        <xsd:sequence>
            <xsd:element name="EIP.1" type="EI" minOccurs="0"/>
            <xsd:element name="EIP.2" type="EI" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FC">
        <xsd:sequence>
            <xsd:element name="FC.1" type="CWE"/>
            <xsd:element name="FC.2" type="DTM" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FN">
        <xsd:sequence>
            <xsd:element name="FN.1" type="ST"/>
            <xsd:element name="FN.2" type="ST" minOccurs="0"/>
            <xsd:element name="FN.3" type="ST" minOccurs="0"/>
            <xsd:element name="FN.4" type="ST" minOccurs="0"/>
            <xsd:element name="FN.5" type="ST" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="FT">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="GTS">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="HD">
        <xsd:sequence>
            <xsd:element name="HD.1" type="IS" minOccurs="0"/>
            <xsd:element name="HD.2" type="ST" minOccurs="0"/>
            <xsd:element name="HD.3" type="ID" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ICD">
        <xsd:sequence>
            <xsd:element name="ICD.1" type="CWE" minOccurs="0"/>
            <xsd:element name="ICD.2" type="ID"/>
            <xsd:element name="ICD.3" type="DTM" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="ID">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="IS">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="JCC">
        <xsd:sequence>
            <xsd:element name="JCC.1" type="CWE" minOccurs="0"/>
            <xsd:element name="JCC.2" type="CWE" minOccurs="0"/>
            <xsd:element name="JCC.3" type="TX" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LA1">
        <xsd:sequence>
            <xsd:element name="LA1.1" type="IS" minOccurs="0"/>
            <xsd:element name="LA1.2" type="IS" minOccurs="0"/>
            <xsd:element name="LA1.3" type="IS" minOccurs="0"/>
            <xsd:element name="LA1.4" type="HD" minOccurs="0"/>
            <xsd:element name="LA1.5" type="IS" minOccurs="0"/>
            <xsd:element name="LA1.6" type="IS" minOccurs="0"/>
            <xsd:element name="LA1.7" type="IS" minOccurs="0"/>
            <xsd:element name="LA1.8" type="IS" minOccurs="0"/>
            <xsd:element name="LA1.9" type="AD" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MO">
        <xsd:sequence>
            <xsd:element name="MO.1" type="NM" minOccurs="0"/>
            <xsd:element name="MO.2" type="ID" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MOP">
        <xsd:sequence>
            <xsd:element name="MOP.1" type="ID"/>
            <xsd:element name="MOP.2" type="NM"/>
            <xsd:element name="MOP.3" type="ID" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MSG">
        <xsd:sequence>
            <xsd:element name="MSG.1" type="ID"/>
            <xsd:element name="MSG.2" type="ID"/>
            <xsd:element name="MSG.3" type="ID"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="NM">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="PL">
        <xsd:sequence>
            <xsd:element name="PL.1" type="HD" minOccurs="0"/>
            <xsd:element name="PL.2" type="HD" minOccurs="0"/>
            <xsd:element name="PL.3" type="HD" minOccurs="0"/>
            <xsd:element name="PL.4" type="HD" minOccurs="0"/>
            <xsd:element name="PL.5" type="IS" minOccurs="0"/>
            <xsd:element name="PL.6" type="IS" minOccurs="0"/>
            <xsd:element name="PL.7" type="HD" minOccurs="0"/>
            <xsd:element name="PL.8" type="HD" minOccurs="0"/>
            <xsd:element name="PL.9" type="ST" minOccurs="0"/>
            <xsd:element name="PL.10" type="EI" minOccurs="0"/>
            <xsd:element name="PL.11" type="HD" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PT">
        <xsd:sequence>
            <xsd:element name="PT.1" type="ID"/>
            <xsd:element name="PT.2" type="ID" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PTA">
        <xsd:sequence>
            <xsd:element name="PTA.1" type="CWE"/>
            <xsd:element name="PTA.2" type="CWE" minOccurs="0"/>
            <xsd:element name="PTA.3" type="ST" minOccurs="0"/>
            <xsd:element name="PTA.4" type="MOP"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RMC">
        <xsd:sequence>
            <xsd:element name="RMC.1" type="CWE"/>
            <xsd:element name="RMC.2" type="CWE" minOccurs="0"/>
            <xsd:element name="RMC.3" type="ST" minOccurs="0"/>
            <xsd:element name="RMC.4" type="MOP"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RPT">
        <xsd:sequence>
            <xsd:element name="RPT.1" type="CWE"/>
            <xsd:element name="RPT.2" type="ID" minOccurs="0"/>
            <xsd:element name="RPT.3" type="NM" minOccurs="0"/>
            <xsd:element name="RPT.4" type="NM" minOccurs="0"/>
            <xsd:element name="RPT.5" type="NM" minOccurs="0"/>
            <xsd:element name="RPT.6" type="CWE" minOccurs="0"/>
            <xsd:element name="RPT.7" type="ID" minOccurs="0"/>
            <xsd:element name="RPT.8" type="ID" minOccurs="0"/>
            <xsd:element name="RPT.9" type="NM" minOccurs="0"/>
            <xsd:element name="RPT.10" type="CWE" minOccurs="0"/>
            <xsd:element name="RPT.11" type="GTS" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SAD">
        <xsd:sequence>
            <xsd:element name="SAD.1" type="ST" minOccurs="0"/>
            <xsd:element name="SAD.2" type="ST" minOccurs="0"/>
            <xsd:element name="SAD.3" type="ST" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="SI">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="ST">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="TM">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="TX">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="VID">
        <xsd:sequence>
            <xsd:element name="VID.1" type="ID"/>
            <xsd:element name="VID.2" type="CWE" minOccurs="0"/>
            <xsd:element name="VID.3" type="CWE" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="XAD">
        <xsd:sequence>
            <xsd:element name="XAD.1" type="SAD" minOccurs="0"/>
            <xsd:element name="XAD.2" type="ST" minOccurs="0"/>
            <xsd:element name="XAD.3" type="ST" minOccurs="0"/>
            <xsd:element name="XAD.4" type="ST" minOccurs="0"/>
            <xsd:element name="XAD.5" type="ST" minOccurs="0"/>
            <xsd:element name="XAD.6" type="ID" minOccurs="0"/>
            <xsd:element name="XAD.7" type="ID" minOccurs="0"/>
            <xsd:element name="XAD.8" type="ST" minOccurs="0"/>
            <xsd:element name="XAD.9" type="CWE" minOccurs="0"/>
            <xsd:element name="XAD.10" type="CWE" minOccurs="0"/>
            <xsd:element name="XAD.11" type="ID" minOccurs="0"/>
            <xsd:element name="XAD.12" type="ST" minOccurs="0"/>
            <xsd:element name="XAD.13" type="DTM" minOccurs="0"/>
            <xsd:element name="XAD.14" type="DTM" minOccurs="0"/>
            <xsd:element name="XAD.15" type="CWE" minOccurs="0"/>
            <xsd:element name="XAD.16" type="ID" minOccurs="0"/>
            <xsd:element name="XAD.17" type="ID" minOccurs="0"/>
            <xsd:element name="XAD.18" type="ID" minOccurs="0"/>
            <xsd:element name="XAD.19" type="ST" minOccurs="0"/>
            <xsd:element name="XAD.20" type="ST" minOccurs="0"/>
            <xsd:element name="XAD.21" type="NM" minOccurs="0"/>
            <xsd:element name="XAD.22" type="CWE" minOccurs="0"/>
            <xsd:element name="XAD.23" type="EI" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="XCN">
        <xsd:sequence>
            <xsd:element name="XCN.1" type="ST" minOccurs="0"/>
            <xsd:element name="XCN.2" type="FN" minOccurs="0"/>
            <xsd:element name="XCN.3" type="ST" minOccurs="0"/>
            <xsd:element name="XCN.4" type="ST" minOccurs="0"/>
            <xsd:element name="XCN.5" type="ST" minOccurs="0"/>
            <xsd:element name="XCN.6" type="ST" minOccurs="0"/>
            <xsd:element name="XCN.7" type="ST" minOccurs="0"/>
            <xsd:element name="XCN.8" type="CWE" minOccurs="0"/>
            <xsd:element name="XCN.9" type="HD" minOccurs="0"/>
            <xsd:element name="XCN.10" type="ID" minOccurs="0"/>
            <xsd:element name="XCN.11" type="ST" minOccurs="0"/>
            <xsd:element name="XCN.12" type="ID" minOccurs="0"/>
            <xsd:element name="XCN.13" type="ID" minOccurs="0"/>
            <xsd:element name="XCN.14" type="HD" minOccurs="0"/>
            <xsd:element name="XCN.15" type="ID" minOccurs="0"/>
            <xsd:element name="XCN.16" type="CWE" minOccurs="0"/>
            <xsd:element name="XCN.17" type="ST" minOccurs="0"/>
            <xsd:element name="XCN.18" type="ID" minOccurs="0"/>
            <xsd:element name="XCN.19" type="DTM" minOccurs="0"/>
            <xsd:element name="XCN.20" type="DTM" minOccurs="0"/>
            <xsd:element name="XCN.21" type="ST" minOccurs="0"/>
            <xsd:element name="XCN.22" type="CWE" minOccurs="0"/>
            <xsd:element name="XCN.23" type="CWE" minOccurs="0"/>
            <xsd:element name="XCN.24" type="ST" minOccurs="0"/>
            <xsd:element name="XCN.25" type="ID" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="XON">
        <xsd:sequence>
            <xsd:element name="XON.1" type="ST" minOccurs="0"/>
            <xsd:element name="XON.2" type="CWE" minOccurs="0"/>
            <xsd:element name="XON.3" type="ST" minOccurs="0"/>
            <xsd:element name="XON.4" type="NM" minOccurs="0"/>
            <xsd:element name="XON.5" type="ID" minOccurs="0"/>
            <xsd:element name="XON.6" type="HD" minOccurs="0"/>
            <xsd:element name="XON.7" type="ID" minOccurs="0"/>
            <xsd:element name="XON.8" type="HD" minOccurs="0"/>
            <xsd:element name="XON.9" type="ID" minOccurs="0"/>
            <xsd:element name="XON.10" type="ST" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="XPN">
        <xsd:sequence>
            <xsd:element name="XPN.1" type="FN" minOccurs="0"/>
            <xsd:element name="XPN.2" type="ST" minOccurs="0"/>
            <xsd:element name="XPN.3" type="ST" minOccurs="0"/>
            <xsd:element name="XPN.4" type="ST" minOccurs="0"/>
            <xsd:element name="XPN.5" type="ST" minOccurs="0"/>
            <xsd:element name="XPN.6" type="ST" minOccurs="0"/>
            <xsd:element name="XPN.7" type="ID" minOccurs="0"/>
            <xsd:element name="XPN.8" type="ID" minOccurs="0"/>
            <xsd:element name="XPN.9" type="CWE" minOccurs="0"/>
            <xsd:element name="XPN.10" type="ST" minOccurs="0"/>
            <xsd:element name="XPN.11" type="ID" minOccurs="0"/>
            <xsd:element name="XPN.12" type="DTM" minOccurs="0"/>
            <xsd:element name="XPN.13" type="DTM" minOccurs="0"/>
            <xsd:element name="XPN.14" type="ST" minOccurs="0"/>
            <xsd:element name="XPN.15" type="ST" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="XTN">
        <xsd:sequence>
            <xsd:element name="XTN.1" type="ST" minOccurs="0"/>
            <xsd:element name="XTN.2" type="ID" minOccurs="0"/>
            <xsd:element name="XTN.3" type="ID"/>
            <xsd:element name="XTN.4" type="ST" minOccurs="0"/>
            <xsd:element name="XTN.5" type="ST" minOccurs="0"/>
            <xsd:element name="XTN.6" type="ST" minOccurs="0"/>
            <xsd:element name="XTN.7" type="ST" minOccurs="0"/>
            <xsd:element name="XTN.8" type="ST" minOccurs="0"/>
            <xsd:element name="XTN.9" type="ST" minOccurs="0"/>
            <xsd:element name="XTN.10" type="ST" minOccurs="0"/>
            <xsd:element name="XTN.11" type="ST" minOccurs="0"/>
            <xsd:element name="XTN.12" type="ST" minOccurs="0"/>
            <xsd:element name="XTN.13" type="DTM" minOccurs="0"/>
            <xsd:element name="XTN.14" type="DTM" minOccurs="0"/>
            <xsd:element name="XTN.15" type="CWE" minOccurs="0"/>
            <xsd:element name="XTN.16" type="CWE" minOccurs="0"/>
            <xsd:element name="XTN.17" type="EI" minOccurs="0"/>
            <xsd:element name="XTN.18" type="NM" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
